<div class="main">
  <% @tweets.each do |tweet| %>
    <div class="card tweet">
        <div class="d-flex">
            <p class="pict"></p><p class="name">Name</p>
        </div>
        <p class="card-body context"><%= tweet.context %></p>
    </div>
  <% end %>
</div>
<div class="side">
</div>
<div class="side"></div>