<div class="top-outline">
    <div class="top-views">
        <p class="m-2"><%= link_to "登録", new_user_registration_path, class: "btn btn-primary" %></p>
        <p class="m-2"><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %></p>
    </div>
</div>