<div class="user-outline">
    <div class="devise-views">
        <div>
            <%# TODO %>
            <p>検索窓</p>
        </div>
        <% @users.each do |user| %>
            <%= link_to user_path(user) do %>
                <div class="card tweet">
                    <div class="d-flex">
                        <p class="pict">
                            <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %>
                        </p>
                        <p class="name"><%= user.name %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
