/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.devise-views{
    margin: 100px auto;
    width: 50%;
    &button, input{
        width: 100%;
        border-radius: 5px;
    }
}

.user-outline{
    width: 100%;
}

.top-outline{
    background-image: url("pc-data.jpg");
    background-position: center;
    background-size: 100%;
    width: 100%;
}

.top-views{
    width: 50%;
    margin: 300px auto;
    & p .btn{
        width: 100%;
        border-radius: 5px;
        z-index: 1;
    }
}

.comment-views{
    width: 100%;
    padding: 1%;
    & p .btn, textarea{
        width: 100%;
        border-radius: 5px;
        z-index: 1;
    }
    & p .input-area{
        padding: 1%;
        color: darken(gray, 10%);
    }
}

.no-tweet{
    width: 46%;
    padding: 0 1%;
    background-color: lighten(lightgray, 10%);
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
}

.btn-default{
    border: 1px solid lightgrey;
}

.main{
    width: 100%;
    padding: 0 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: keep-all;
}

.tweet{
    margin: 2% 1%;
}

.context{
    width: 100%;
    background-color: lightgray;
    margin-bottom: 0;
}

.pict{
    width: 60px;
    height: 60px;
    background-color: bisque;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.name{
    height: 60px;
    width: auto;
    line-height: 60px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.side{
    border-left: 2px solid lightgray;
    width: 54%;
    height: 100%;
}

.navbar-nav{
    padding: 1.2% .5% .4% .5%;
}

.nav-box{
    width: 40%;
    height: auto;
}

.outline{
    height: 90vh;
    border-top: 2px solid lightgray;
}

